$flexy-columns: 12;
$flexy-padding: .5rem 1rem;
$flexy-container-padding: 0 2rem;

body {
	@include flexy-container(95%);
}

.flex {
	@include flexy-row();
}

.headers, .text {
	@include flexy-span(full);

	@include flexy-breakpoint($tablet-screen) {

		@include flexy-span(auto);
	}
}