$flexy-columns: 12;
$flexy-padding: 0;
$flexy-container-padding: 0;

$row-color: color(medium);

body {
	@include flexy-container(90%);
}

.flexy-row {
	@include flexy-row();
	margin: 2em;
}

// Basic styles for the bars that go inside the flexbox items. Flex spans must be added based on examples
.flexy-item {
	background-color: color(action);
	text-align: center;
	color: white;
	font-size: .75em;

	border-left: .25em solid $row-color;
	border-right: .25em solid $row-color;

	p {
		@include padding(1em null);
		margin: 0;
	}
}