doctype html

html(lang="en")
	include extends/header.jade
	body
		.title
			h1 Ellisha
			h5 A mixin collection for responsive Flexbox layouts.

		section
			article
				h3 Basics
				p Ellisha uses two main mixins for flexbox layouts
				ol
					li flexy-row() - Creates a row that will contain flexbox items.
					li flexy-span() - Must be used on elements in a flexy-row, and controls the width of the flexboxes.

			.example
				p flexy-row()

				.flexy-row
					.flexy-item.col-auto
						p flexy-span()
					.flexy-item.col-auto
						p flexy-span()
					.flexy-item.col-auto
						p flexy-span()
					.flexy-item.col-auto
						p flexy-span()


		section
			article
				h3 flexy-span
				p Ellisha works on a 12-column system by default. Use the number of columns you want each item to take up with the flexy-span mixin.

			.example
				.flexy-row
					.flexy-item.col-6
						p flexy-span(6)
					.flexy-item.col-4
						p flexy-span(4)
					.flexy-item.col-2
						p flexy-span(2)

				.flexy-row
					.flexy-item.col-3
						p flexy-span(3)
					.flexy-item.col-5
						p flexy-span(5)
					.flexy-item.col-4
						p flexy-span(4)

				.flexy-row
					.flexy-item.col-2
						p flexy-span(2)
					.flexy-item.col-3
						p flexy-span(3)
					.flexy-item.col-5
						p flexy-span(5)
					.flexy-item.col-2
						p flexy-span(2)
			
			article
				p There are three other units you can use instead of columns:
				ol
					li Percentage widths.
					li Set widths, such as px or em. Be warned these may displace the grid to stack on smaller screens.
					li Auto - All auto spans equally divide and share the remaining space in the row
				p Feel free to mix and match for more complex layouts

			.example
				.flexy-row
					.flexy-item.col-30p
						p flexy-span(30%)
					.flexy-item.col-25p
						p flexy-span(25%)
					.flexy-item.col-45p
						p flexy-span(45%)

				.flexy-row
					.flexy-item.col-300px
						p flexy-span(300px)
					.flexy-item.col-15em
						p flexy-span(15em)

				.flexy-row
					.flexy-item.col-auto
						p flexy-span(auto)
					.flexy-item.col-auto
						p flexy-span(auto)
					.flexy-item.col-auto
						p flexy-span(auto)

				.flexy-row
					.flexy-item.col-auto
						p flexy-span(auto)
					.flexy-item.col-auto
						p flexy-span(auto)
					.flexy-item.col-auto
						p flexy-span(auto)
					.flexy-item.col-auto
						p flexy-span(auto)

				.flexy-row-reverse
					.flexy-item.col-2
						p flexy-span(2)
					.flexy-item.col-20p
						p flexy-span(20%)
					.flexy-item.col-15em
						p flexy-span(15em)
					.flexy-item.col-auto
						p flexy-span(auto)

		section
			article
				h3 flexy-row

			.example
				p flexy-row()
				.flexy-row
					.flexy-item.col-2
						p 1
					.flexy-item.col-4
						p 2
					.flexy-item.col-6
						p 3

			.example
				p flexy-row(row-reverse)
				
				.flexy-row-reverse
					.flexy-item.col-2
						p 1
					.flexy-item.col-4
						p 2
					.flexy-item.col-6
						p 3

		section
			article
				h3 flexy-breakpoint

			.example.flexy-breakpoint
				.flexy-row
					.flexy-item
						p Full / Half / Third
					.flexy-item
						p Full / Half / Third
					.flexy-item
						p Full / Half / Third
					.flexy-item
						p Full / Half / Third
					.flexy-item
						p Full / Half / Third
					.flexy-item
						p Full / Half / Third

			pre.
				flexy-item {
					@include flexy-span(12);
					
					@include flexy-breakpoint(480px) {
						@include flexy-span(6);
					}
					
					@include flexy-breakpoint(900px) {
						@include flexy-span(4);
					}
				}

		section
			article
				h3 flexy-container

			.example
				p flexy-container(800px)
				.flexy-row.container-800px
					.flexy-item.col-auto
						p I'm full-width but stop at 800px

			.example
				p flexy-container(80%)
				.flexy-row.container-80
					.flexy-item.col-auto
						p I'm 80% wide and centered at all times

		section
			article
				h3 flexy-justify

			.example
				p.left flexy-justify(start)
				.flexy-row.justify-start
					.flexy-item.col-3
						p 3
					.flexy-item.col-3
						p 3
				
				p.right flexy-justify(end)
				.flexy-row.justify-end
					.flexy-item.col-3
						p 3
					.flexy-item.col-3
						p 3

				p flexy-justify(center)
				.flexy-row.justify-center
					.flexy-item.col-3
						p 3
					.flexy-item.col-3
						p 3

		section
			article
				h3 flexy-align

			.example
				p flexy-align(top)
				.flexy-row.height.align-top
					.flexy-item.col-auto
						p 4
					.flexy-item.col-auto
						p 4
					.flexy-item.col-auto
						p 4

			.example
				p flexy-align(middle)
				.flexy-row.height.align-middle
					.flexy-item.col-auto
						p 4
					.flexy-item.col-auto
						p 4
					.flexy-item.col-auto
						p 4

			.example
				p flexy-align(bottom)
				.flexy-row.height.align-bottom
					.flexy-item.col-auto
						p 4
					.flexy-item.col-auto
						p 4
					.flexy-item.col-auto
						p 4

		section
			article
				h3 flexy-spacing

			.example
				p flexy-spacing(around)
				.flexy-row.spacing-around
					.flexy-item.col-2
						p 2
					.flexy-item.col-2
						p 2
					.flexy-item.col-2
						p 2

				p flexy-spacing(between)
				.flexy-row.spacing-between
					.flexy-item.col-2
						p 2
					.flexy-item.col-2
						p 2
					.flexy-item.col-2
						p 2

		section
			article
				h3 flexy-position

		section
			article
				h3 flexy-align-self

			.example
				.flexy-row.height
					.flexy-item.col-auto.align-self-top
						p flexy-align-self(top)
					.flexy-item.col-auto.align-self-middle
						p flexy-align-self(middle)
					.flexy-item.col-auto.align-self-bottom
						p flexy-align-self(bottom)

		section
			article
				h3 flexy-push and flexy-pull

			.example
				.flexy-row
					.flexy-item.col-3.push-4
						p flexy-push(4)
				.flexy-row
					.flexy-item.col-3.push-12
						p flexy-push(12em)
				.flexy-row
					.flexy-item.col-3.push-50p
						p flexy-push(50%)

			.example.half
				.flexy-row
					.flexy-item.col-3.pull-4
						p flexy-pull(4)
				.flexy-row
					.flexy-item.col-3.pull-12
						p flexy-pull(12em)
				.flexy-row
					.flexy-item.col-3.pull-50p
						p flexy-pull(50%)

		section
			article
				h3 flexy-center

		section
			article
				h3 Variables

		section
			article
				h3 Examples



		include extends/footer.jade