doctype html

html(lang="en")
	include extends/header.jade
	body
		.title
			h1 Ellisha
			h4 A Flexy Grid Toolkit
			p Ellisha is a collection of mixins for simple, responsive layouts with Flexbox.

		section
			article
				h3 Basics
				p Ellisha uses two main mixins for flexbox layouts
				ol
					li flexy-row() - Creates a row that will contain flexbox items.
					li flexy-span() - Must be used on elements in a flexy-row, and controls the width of the flexboxes.

			.example
				p flexy-row()

				.flexy-row
					.flexy-item.col-auto
						p flexy-span()
					.flexy-item.col-auto
						p flexy-span()
					.flexy-item.col-auto
						p flexy-span()
					.flexy-item.col-auto
						p flexy-span()


		section
			article
				h3 flexy-span
				p Ellisha works on a 12-column system by default. Use the number of columns you want each item to take up with the flexy-span mixin.

			.example
				.flexy-row
					.flexy-item.col-6
						p flexy-span(6)
					.flexy-item.col-4
						p flexy-span(4)
					.flexy-item.col-2
						p flexy-span(2)

				.flexy-row
					.flexy-item.col-3
						p flexy-span(3)
					.flexy-item.col-5
						p flexy-span(5)
					.flexy-item.col-4
						p flexy-span(4)

				.flexy-row
					.flexy-item.col-2
						p flexy-span(2)
					.flexy-item.col-3
						p flexy-span(3)
					.flexy-item.col-5
						p flexy-span(5)
					.flexy-item.col-2
						p flexy-span(2)
			
			article
				p There are three other units you can use instead of columns:
				ol
					li Percentage widths.
					li Set widths, such as px or em. Be warned these may displace the grid to stack on smaller screens.
					li Auto - All auto spans equally divide and share the remaining space in the row
				p Feel free to mix and match for more complex layouts

			.example
				.flexy-row
					.flexy-item.col-30p
						p flexy-span(30%)
					.flexy-item.col-25p
						p flexy-span(25%)
					.flexy-item.col-45p
						p flexy-span(45%)

				.flexy-row
					.flexy-item.col-300px
						p flexy-span(300px)
					.flexy-item.col-15em
						p flexy-span(15em)

				.flexy-row
					.flexy-item.col-auto
						p flexy-span(auto)
					.flexy-item.col-auto
						p flexy-span(auto)
					.flexy-item.col-auto
						p flexy-span(auto)

				.flexy-row
					.flexy-item.col-auto
						p flexy-span(auto)
					.flexy-item.col-auto
						p flexy-span(auto)
					.flexy-item.col-auto
						p flexy-span(auto)
					.flexy-item.col-auto
						p flexy-span(auto)

				.flexy-row
					.flexy-item.col-2
						p flexy-span(2)
					.flexy-item.col-20p
						p flexy-span(20%)
					.flexy-item.col-15em
						p flexy-span(15em)
					.flexy-item.col-auto
						p flexy-span(auto)

		section
			article
				h3 flexy-container

		section
			article
				h3 flexy-push

		section
			article
				h3 flexy-pull

		section
			article
				h3 flexy-justify

		section
			article
				h3 flexy-align

		section
			article
				h3 flexy-spacing

		section
			article
				h3 flexy-position

		section
			article
				h3 flexy-align-self

		section
			article
				h3 flexy-center

		section
			article
				h3 Variables

		section
			article
				h3 Examples



		include extends/footer.jade