// Title section styling
.title {
	text-align: center;
}

// Styling for the container of each flexy mixin
section {
	border-top: 1px solid black;
	margin: 1.5em 0;
}

// Styling for the blocks of text around the examples
article {
	padding: 2em 1em;

	h3 {
		text-align: center;
	}
}

// Basic styles for the example containers
.example {
	padding: 1em 0;
	@include margin(1em 0);
	@include clearfix();

	background-color: $row-color;
	text-align: center;

	&.half {
		width: 50%;
		margin-left: 50%;
	}
}