// Title section styling
.title {
	text-align: center;
}

// Styling for the container of each flexy mixin
section {
	border-top: 1px solid black;
}

// Styling for the blocks of text around the examples
article {
	padding: 2em 1em;

	h3 {
		text-align: center;
	}
}

// Basic styles for the example containers
.example {
	padding: 1em 2em;

	background-color: $row-color;
	color: white;
	text-align: center;
}